<h1>
  Edit flight #<%= @flight.id %>
</h1>

<hr>

<form action="/update_flight/<%= @flight.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @flight.description %>">
  </div>

  <div class="form-group">
    <label for="departs_date">
      Departs date
    </label>

    <input type="text" id="departs_date" name="departs_date" class="form-control" value="<%= @flight.departs_date %>">
  </div>

  <div class="form-group">
    <label for="departs_time">
      Departs time
    </label>

    <input type="text" id="departs_time" name="departs_time" class="form-control" value="<%= @flight.departs_time %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update flight
  </button>
</form>

<hr>

<a href="/flights">
  Go back
</a>
